extends layout

block content

  if messages.length !== 0
    each message in messages
      div.alert.alert-danger
        strong Error
        | #{message}

  form(action='/login', method='post', role='form')
    div.form-group
      label(for='username') Username
      input.form-control#username(type='text', name='username')
    div.form-group
      label(for='password') Password
      input.form-control#password(type='password', name='password')
    button.btn.btn-large.btn-primary(type='submit') Log in
